@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

/* Responsive styling */
@media (min-width: 640px) {
  /* Adjust styles for screens wider than 640px */
}

@media (min-width: 768px) {
  /* Adjust styles for screens wider than 768px */
}

/* Add more responsive breakpoints as needed */

/* Example responsive font size */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
